@import '../../scss/default.scss';

.dashboardPage{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .titlePage{
        color: $color-primary;
        
        font-weight: 700;
        font-size: $font-xl;

        @media (min-width: $screen-sm) { 
            font-size: $font-2xl;
        }

    }
}