@import '../../scss/default.scss';

.containerHeroDetail{
    width: 100%;
    padding: $pad-xl;
    

    .backButton{
        all: unset;
        display: flex;
        align-items: center;
        gap: 1rem;
        border-radius: $radii-4;
        padding: $pad-md;
        color: $color-secondary;
        font-weight: $font-bold;
        cursor: pointer;

        &:hover{
            color: $color-primary;
        }
        
    }

    .content{
        width: 100%;
        margin-top: 1rem;
        background-color: $color-100;
        display: flex;
        overflow: hidden;
        box-shadow: 0 0 10px #0006;
        border-radius:  $radii-16;

        @media (max-width: 600px) {
            flex-direction: column;
            align-items: center;

            img{
                width: 100%!important;
            }   
        }

        h3{
            color: $color-800;
        }
    
        img{
            width: 500px;
        }

        .infos{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: $pad-2xl;
            
            .description{
                height: 100%;
                min-height: 100px;
                max-height: 300px;
                color: $color-primary;
            }

            .boards{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 2rem;

                .table{

                    width: 100%;
                    .title{
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;
                        font-weight: $font-bold;
                        color: $color-primary;
                        font-size: $font-lg;

                        
                    }
                    .items{
                        width: 100%;
                        max-height: 100px;
                        overflow-y: auto;
                        .item{
                            width: 100%;
                            color: $color-primary;
                            padding: $pad-sm;
                            transition: $transition;
                            cursor: default;
                            &:hover{
                                color: $color-secondary;
                                background-color: $color-200;
        
                            }
                        }
                        .not_found{
                            color: $color-500;
                        }
                    }
                }
            }
        }
    
      
    
    }
}