@import '../../../../scss/default.scss';

.headerContainer{
    width: 100%;
    height: 64px;
    background-color: #FFFFFF;

    .headerContent{
        width: 100%;
        height: 100%;
        max-width: 1366px;
        margin: 0 auto;
        padding: 0 2rem 0 1.25rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
         
        img{
            width: 150px;
            height: 100%;
        } 

        .menu{
            display: flex;
            align-items: center;
            gap: 1rem;
        
            p{
                font-size: 14px;
                color: #555555;
                span{
                    font-weight: 700;
                }
            }
        
            .initials{
                font-size: 15px;
                font-weight: 700;
                border-radius: $radii-4;
                padding: 0.25rem;
                background-color: #F5F5F5;
                color: #555555;

            }
        }
    }
    
}

