
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans Caption', sans-serif;
    a { all: unset }

    h3{
      font-size: 2rem;
      font-weight: 700;
    }
    p{
      font-size: 1rem;
    }
}

#root {
  background-color: #e3e3e3;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 70px 0;
  width: 100%;
  min-height: 100vh;
}

.container{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
  max-width: 1280px;
}



.textField{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 500px;
  width: 100%;

  
  label{
    font-weight: bold;
  }

  input{
    all: unset;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #FFF;
  }

}


/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #41B19B;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}