@import './scss/default.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans Caption', sans-serif;
    a { all: unset }
    p{ font-size: $font-md; }
    h3{
      font-size: $font-lg;
      font-weight: $font-bold;
    }
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}


::-webkit-scrollbar {
  width: 2px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg,$color-error 0%,$color-100 55%,$color-error 100%);
  border-radius: $radii-16;
}

